body{
    margin: 0 auto;
    background-color: burlywood;
}



#head{
    
        
        
        width: 100%;
        max-width: 71.25rem;
        height: 4.5rem;
        padding: 1.25rem 2rem;
        margin: 0 auto;
    
}

#h_title{
    
        display: inline-block;
        font-weight: 700;
        font-size: 15px;
        color: white;
        line-height: 2rem;
        cursor: pointer;
    
}

#h_navi{
    
        float: right;
        
    
}

.h_navi_menu{
    
        display: inline-block;
        padding: 0 1rem;
        font-weight: 700;
        font-size: 15px;
        color: white;
        line-height: 2rem;
        cursor: pointer;
    
}



#bg{
    margin: 0;
    background-image: url(https://c.wallhere.com/photos/05/89/1680x1050_px_IT_Design-1230155.jpg!d);
    background-size: cover;
}
/*
#bg::before{
    content: "";
    background: url(https://c.wallhere.com/photos/05/89/1680x1050_px_IT_Design-1230155.jpg!d);
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}
*/


#first{
   
    height: 280px;

    text-align: center;
    
    
    position: relative;
}






#f_title{
    color: white;
    
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 4rem;
}

#f_greeting{
    
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    
    text-align: center;
    height: 200px;
    font-weight: 700;
        font-size: 30px;
}

.titles{
    color: black;
    
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: Black Han Sans,sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
    border-bottom-color: black;
    width: 350px;
    height: 72px;

    margin-left: auto;
    margin-right: auto;
}

.a_semiTitles{
    color: cornflowerblue;
    
    margin-top: 10px;
    margin-bottom: 0.5rem;
        font-weight: 700;
        font-size: 1.25rem;
}

#aboutMe{
    
    background-color: white;
    text-align: center;
    height: 500px;
    font-family: 'Noto Sans JP', sans-serif;
    
    font-weight: 400;
    font-size: 1rem;
    
}

#aboutMe span{
    
        margin-bottom: 0.5rem;
        font-weight: 700;
        font-size: 1.25rem;
    
}

#profile_pack{
    margin-top: 60px;
}

#profile1{
    width: 50%;
    float: left;
}

#profile2{
    width: 50%;
    float: right;
}

#skills{
    font-size: 20px;
    font-weight: bold;
    height: 650px;
    background-color: aquamarine;
    margin-bottom: 50px;
    text-align: center;
    
    
}


.s_tbl{
    
    width: 32%;
    height: 550px;
    float: left;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
    
}

.s_tbl_vc{
    width: 27%;
    height: 200px;
    float: right;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
}

.s_tbl div img{
    width: 100px;
    
}


.s_tbl div img:hover{
    width: 120px;
}

.s_tbl_vc img {
    width: 100px;
}


.s_tbl_vc img:hover {
    width: 120px;
}

#react_img{
    width: 200px;
}

#react_img:hover{
    width: 220px;
}

.s_tbl div {
    font-size: 40px;
}

.s_tbl p {
    color: black;
}





#projects{
    
    margin-top: 5px;
    text-align: center;
    
    
}

.p_boxs{
    
    margin: 5px;
    background-color: aliceblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    width: 500px;
    border-radius: 10px;
    height: 400px;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
}

.p_semiTitles{
    font-weight: bold;
    font-size: 20px;
}