body{
    margin: 0 auto;
    background-color: goldenrod;
}



#head{
    
        
        
        width: 100%;
        max-width: 71.25rem;
        height: 4.5rem;
        padding: 1.25rem 2rem;
        margin: 0 auto;
    
}

#h_title{
    
        display: inline-block;
        font-weight: 700;
        font-size: 1.5rem;
        color: hsla(0,0%,100%,.7);
        line-height: 2rem;
        cursor: pointer;
    
}

#h_navi{
    
        float: right;
        
    
}

.h_navi_menu{
    
        display: inline-block;
        padding: 0 1rem;
        font-weight: 700;
        font-size: 1rem;
        color: hsla(0,0%,100%,.7);
        line-height: 2rem;
        cursor: pointer;
    
}

#bg{
    position: relative;
}

#bg::before{
    content: "";
    background: url(https://img.lovepik.com/photo/50063/8793.jpg_wh860.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}



#first{
   
    height: 280px;

    text-align: center;
    
    
    position: relative;
}






#f_title{
    color: white;
    
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 4rem;
}

#f_greeting{
    
    color: hsla(0,0%,100%,.7);
    font-family: 'Noto Sans JP', sans-serif;
    
    text-align: center;
    height: 200px;
    font-weight: 700;
        font-size: 1.5rem;
}

.titles{
    color: cornflowerblue;
    
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: Black Han Sans,sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
    border-bottom-color: cornflowerblue;
    width: 350px;
    height: 72px;

    margin-left: auto;
    margin-right: auto;
}

.a_semiTitles{
    color: cornflowerblue;
    
    margin-top: 10px;
    margin-bottom: 0.5rem;
        font-weight: 700;
        font-size: 1.25rem;
}

#aboutMe{
    
    background-color: white;
    text-align: center;
    height: 500px;
    font-family: 'Noto Sans JP', sans-serif;
    
    font-weight: 400;
    font-size: 1rem;
    
}

#aboutMe span{
    
        margin-bottom: 0.5rem;
        font-weight: 700;
        font-size: 1.25rem;
    
}

#profile_pack{
    margin-top: 60px;
}

#profile1{
    width: 50%;
    float: left;
}

#profile2{
    width: 50%;
    float: right;
}

#skills{
    font-size: 20px;
    font-weight: bold;
    height: 650px;
    background-color: aquamarine;
    margin-bottom: 50px;
    text-align: center;
    
    
}


.s_tbl{
    
    width: 33%;
    height: 300px;
    float: left;
}

.s_tbl div img{
    width: 100px;
}

.s_tbl div img:hover{
    width: 120px;
}



.s_tbl div {
    font-size: 40px;
}

.s_tbl p {
    color: black;
}





#projects{
    
    margin-top: 5px;
    text-align: center;
    
    
}

.p_boxs{
    
    margin: 5px;
    background-color: aliceblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    width: 49%;
    border-radius: 10px;
    height: 400px;
}

.p_semiTitles{
    font-weight: bold;
    font-size: 20px;
}